<!DOCTYPE html>
<html>
  <head>
    <title>{{code}} - {{message}}</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body>
    <h1>{{code}}</h1>
    <p>{{message}}</p>
  </body>

</html>